:root {
  --bg-color: #f5f5f5;
  --text-color: #131313;

  --button-color: #007bff;
  --button-bg-color: #007bff;
  --button-bg-hover-color: rgb(9, 210, 250);
  --button-txt-hover-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
  margin: 0;
}
body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--text-color);
  margin: 0;
  text-rendering: optimizeSpeed;
}
body.dark-mode {
  --bg-color: #333;
  --text-color: #f5f5f5;
  background-color: var(--bg-color);
  color: var(--text-color);
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
summary {
  outline: none;
}
nav {
  padding: 1rem 0;
  background: rgb(28,172,214);
  background: linear-gradient(197deg, rgba(28,172,214,1) 0%, rgba(139,28,214,1) 32%, rgba(137,49,204,1) 53%, rgba(204,43,200,1) 76%, rgba(204,43,200,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.1s ease;
  width: 100%;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  .nav-logo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
  }
  .navigator-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    .nav-image {
      margin-left: 1rem;
      margin-top: 0.5rem;
    }
  }
}
.button {
  background-color: var(--button-bg-color);
  padding: 1.5rem 3rem;
  border-radius: 8px;
  color: var(--button-text-color);
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 1.5rem;
}
.button:hover {
  background-color: var(--button-bg-hover-color);
  color: var(--button-text-hover-color);
}
.dark-mode {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  transition: transform 0.3s ease;
  background-color: var(--button-bg-color);
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
header {
  background-color: #fff;
  margin-bottom: 1rem;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  overflow: hidden;
  gap: 2rem;
  
  background: rgb(28,172,214);
  background: linear-gradient(210deg, rgba(28,172,214,1) 0%, rgba(139,28,214,1) 11%, rgba(137,49,204,1) 20%, rgba(204,43,200,1) 35%, rgba(204,43,200,1) 100%);
.header-logo {
    min-height: 300px;
    min-width: 300px;
    height: auto;
    width: 55%;
    background-color: var(--button-bg-color);
    border-radius: 3%;
    margin-top: -7rem;
    margin-left: 2rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 3%;
    }
  }
  .header-content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: -12rem;
    color: rgb(244, 236, 255);
    
    h1 {
      font-size: 7rem;
      font-weight: 700;
      line-height: 6.5rem;
      text-align: center;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: -4rem;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    }
    a {
      font-size: 1.5rem;
    }
  }
  .header-links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: flex-end;
    justify-content: space-evenly;
  }
}
.info {
  background-color: #fff;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  z-index: 0;
  padding: 4rem 0;
  margin-top: -5rem;
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: flex-end;
    justify-content: space-evenly;
    color: var(--button-text-color);
    transition: all 0.3s ease;
    background-color: var(--button-bg-color);
    padding: 1.5rem 1rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  a:hover {
    background-color: var(--button-bg-hover-color);
    color: var(--button-text-hover-color);
  }
  .info-button {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
  .info-card {
    width: 350px;
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    img {
      border-radius: 8px;
    }
  }
}
.news {
  background-color: #fff;
  height: 55vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column-reverse nowrap;
  border-radius: 0 8px 0 0;
  z-index: 1;
  padding: 2rem;
  padding-bottom: 5rem;
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .news-item {
    width: 55%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: flex-start;
    border: 1px solid #e9ecef;
    border-radius: 16px;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    p {
      margin: 0;
    }
    h3 {
      margin: 0;
    }
    h6 {
      margin: 0;
    }
  }
}
.faq {
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  border-radius: 8px 0 0 0;
  z-index: 2;
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .faq-item {
    width: 55%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: center;
    padding: 1.5rem 1rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.2rem 0;
    border: 1px solid #e9ecef;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    details {
      cursor: pointer;
      p {
        margin: 0.5rem 0;
        line-height: 1.8rem;
        font-size: 1.3rem;
      }
    }
    details:not([open]) > * {
      font-size: 1.5rem;
      font-weight: 400;
      max-height: 3rem;
      transition: max-height 0.3s ease-in-out, font-size 0.2s ease-in-out,
        font-wei;
    }
    details[open] > summary {
      font-size: 1.6rem;
      font-weight: 500;
      max-height: 1000px;
      transition: max-height 0.3s ease-in-out, font-size 0.2s ease-in-out,
        font-weight 0.2s ease-in-out;
    }
    details summary:hover {
      font-size: 1.8rem;
      font-weight: 500;
      max-height: 1000px;
      transition: font-size 0.05s linear, font-weight 0.05s linear;
    }
  }
}
.partners {
  background-color: #fff;
  padding: 2rem 0;
  margin-bottom: 1rem;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row nowrap;
  border-radius: 8px;
  .kinetic-logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
  .kinetic-logo-container:hover {
    filter: grayscale(60%);
    transition: all 0.3s ease;
  }
}
footer {
  background-color: var(--bg-color);
  padding: 1rem;
  margin-bottom: 1rem;
  height: 33.33vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row nowrap;
}

@media only screen and (max-width: 1650px) {
  header {
    .header-content {
      margin-top: -11rem;
      h1 {
        font-size: 6rem;
        line-height: 6.5rem;
      }
      p {
        margin-top: -3.5rem;
      }
      a {
        padding: 0.95rem 1.9rem;
      }
    }
    .header-logo {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1400px) {
  header {
    .header-content {
      margin-top: -10rem;
      h1 {
        font-size: 5rem;
        line-height: 5.5rem;
      }
      p {
        margin-top: -3rem;
        font-size: 1.3rem;
      }
      a {
        padding: 0.85rem 1.7rem;
      }
    }
    .header-logo {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1250px) {
  header {
    background-image: url("../img/Logo_MD.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .header-logo {
      display: none;
    }
    .header-content {
      h1 {
        font-size: 8rem;
        line-height: 9.5rem;
      }
      p {
        font-size: 3rem;
        line-height: 3.5rem;
        text-align: center;
      }
      a {
        padding: 1.5rem 3rem;
        font-size: 2rem;
      }
    }
  }
}
