:root {
  --bg-color: #f5f5f5;
  --text-color: #131313;

  --button-color: #007bff;
  --button-bg-color: #007bff;
  --button-bg-hover-color: rgb(9, 210, 250);
  --button-txt-hover-color: #fff;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color-scheme: dark light;
}
html {
  scroll-behavior: smooth;
  margin: 0;
}
body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--text-color);
  margin: 0;
  text-rendering: optimizeSpeed;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
summary {
  opacity: 0.85;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
summary {
  outline: none;
}
section:not(.partners) {
  min-height: 100vh;
}
.temp {
  display: none;
}
nav {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  color: #fff;
  background: linear-gradient(
    197deg,
    rgba(143, 204, 230, 0) 10%,
    rgba(124, 253, 253, 0) 30%,
    rgba(138, 224, 250, 0) 80%
  );
  animation: scroll linear both;
  animation-range: 100vh 130vh; /* Only for some browsers */
  animation-timeline: scroll();

  a {
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  .nav-logo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
    width: 50px;
    height: 50px;
    margin-bottom: -0.3rem;
  }
  .navigator-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    margin-right: 1rem;
    .nav-image {
      margin-left: 1rem;
      margin-bottom: -0.3rem;
    }
  }
}
.button {
  background-color: var(--button-bg-color);
  padding: 1.5rem 3rem;
  border-radius: 8px;
  color: var(--button-text-color);
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 1.5rem;
}
.button:hover {
  background-color: var(--button-bg-hover-color);
  color: var(--button-text-hover-color);
}
header {
  
  background-color: #fff;
  height: 125vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row nowrap;
  overflow: hidden;
  gap: 2rem;
  background: linear-gradient(
    210deg,
    rgb(166, 28, 235) 0%,
    rgb(119, 71, 241) 11%,
    rgb(105, 21, 222) 20%,
    rgb(28, 143, 214) 35%,
    rgba(28, 172, 214, 1) 60%
  );
  border-radius: 0 0 2% 2%;
  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 300px;
    min-width: 300px;
    height: auto;
    max-height: 500px;
    max-width: 55%;
    width: auto;
    border-radius: 3%;
    margin-top: -7rem;
    margin-left: 2rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 3%;
    }
  }
  .header-content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: -12rem;
    color: rgb(244, 236, 255);

    h1 {
      font-size: 9rem;
      font-weight: 700;
      line-height: 9.2rem;
      text-align: center;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: -4rem;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    }
    a {
      font-size: 1.5rem;
    }
  }
  .header-links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: flex-end;
    justify-content: space-evenly;
  }
}
.info {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  border-radius: 8px;
  z-index: 0;
  padding: 4rem 0;
  h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    color: var(--button-text-color);
    transition: all 0.3s ease;
    background-color: var(--button-bg-color);
    padding: 1.5rem 1rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  a:hover {
    background-color: var(--button-bg-hover-color);
    color: var(--button-text-hover-color);
  }
  .info-button {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
  .info-card {
    width: 500px;
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    img {
      border-radius: 8px;
    }
  }
}
.news {
  min-height: 60vh;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column-reverse nowrap;
  border-radius: 0 8px 0 0;
  z-index: 1;

  h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.5rem;
  }
  .news-item {
    width: 55%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: flex-start;
    border: 1px solid #e9ecef;
    border-radius: 16px;
    margin-bottom: 1.5rem;
    padding: 1rem 3rem;
    p {
      margin: 0;
      font-size: 1.5rem;
    }
    h3 {
      margin: 0;
      font-size: 2rem;
      line-height: 2.5rem;
      text-transform: uppercase;
    }
    h6 {
      margin: 0;
    }
  }
}
.faq {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  border-radius: 8px 0 0 0;
  z-index: 2;
  h2 {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  .faq-item {
    width: 65%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: center;
    padding: 2.5rem 2rem;
    border-radius: 8px;
    font-weight: 400;
    margin: 0.2rem 0;
    border: 1px solid #e9ecef;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    details {
      cursor: pointer;
      p {
        margin: 1rem 0;
        line-height: 2.3rem;
        font-size: 1.8rem;
      }
    }
    details:not([open]) > * {
      font-size: 2.1rem;
      line-height: 2.6rem;
      font-weight: 400;
      max-height: 6rem;
      transition: max-height 0.3s ease-in-out, font-size 0.2s ease-in-out,
        font-weight 0.2s ease-in-out;
    }
    details[open] > summary {
      font-size: 2.3rem;
      font-weight: 500;
      max-height: 1000px;
      transition: max-height 0.3s ease-in-out, font-size 0.2s ease-in-out,
        font-weight 0.2s ease-in-out;
    }
    details summary:hover {
      font-size: 2.5rem;
      font-weight: 500;
      max-height: 1000px;
      transition: font-size 0.05s linear, font-weight 0.05s linear;
    }
  }
}
.partners {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row nowrap;
  border-radius: 8px;
  height: 50vh;
  article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    .kinetic-logo-container {
      width: 70%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }
    .kinetic-logo-container:hover {
      filter: grayscale(60%);
      transition: all 0.4s ease;
    }
  }
}
footer {
  position: relative;
  height: 33.33vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-flow: row wrap;
  z-index: 9;

  background-image: url("../img/footer-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .footer-image {
    margin-bottom: -0.3rem;
  }
  p {
    margin: 1.3rem;
    font-size: 1rem;
    line-height: 1.1rem;
  }
  ul {
    margin: 1.3rem;
  }
}
@media only screen and (min-width: 2000px) {
  header {
    .header-content {
      margin-top: -12rem;
      h1 {
        font-size: 13rem !important;
        line-height: 13.5rem;
      }
    }
    .header-logo {
      width: 50%;
    }
  }
  .faq {
    .faq-item {
      width: 75%;
      padding: 2rem 1.5rem;
    }
  }
}
@media only screen and (max-width: 1800px) {
  header {
    .header-content {
      h1 {
        font-size: 8rem;
        line-height: 8.5rem;
      }
    }
    .header-logo {
      width: 60%;
      img {
        max-height: 1000px;
        width: auto;
      }
    }
  }
  .faq {
    .faq-item {
      width: 75%;
      padding: 2rem 1.5rem;
    }
  }
}
@media only screen and (max-width: 1650px) {
  header {
    .header-content {
      margin-top: -11rem;
      h1 {
        font-size: 8rem;
        line-height: 8.5rem;
      }
      p {
        margin-top: -3.5rem;
      }
      a {
        padding: 0.95rem 1.9rem;
      }
    }
    .header-logo {
      width: 50%;
    }
  }
  .faq {
    .faq-item {
      width: 75%;
      padding: 2rem 1.5rem;
    }
  }
}

@media only screen and (max-width: 1400px) {
  header {
    .header-content {
      margin-top: -10rem;
      h1 {
        font-size: 6.5rem;
        line-height: 7rem;
      }
      p {
        margin-top: -3rem;
        font-size: 1.3rem;
      }
      a {
        padding: 0.85rem 1.7rem;
      }
    }
    .header-logo {
      width: 50%;
    }
  }
  footer {
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 1250px) {
  header {
    .header-logo {
      display: none;
    }
    .header-content {
      h1 {
        font-size: 8rem;
        line-height: 9.5rem;
      }
      p {
        font-size: 3rem;
        line-height: 3.5rem;
        text-align: center;
      }
      a {
        padding: 1.5rem 3rem;
        font-size: 2rem;
      }
    }
  }
  .partners {
    height: 60vh;
    article {
      .kinetic-logo-container {
        width: 90%;
      }
    }
  }
  footer {
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 1000px) {
  .news {
    .news-item {
      width: 75%;
    }
  }
}
@media only screen and (max-width: 768px) {
  nav {
    height: 6rem;
    font-size: 0;
    .nav-image {
      width: 35px;
    }
  }

  header {
    height: 100vh;
    .header-logo {
      display: none;
    }
    .header-content {
      h1 {
        font-size: 6rem;
        line-height: 7rem;
      }
      p {
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
        margin: 1rem;
        margin-top: 0;
      }
      a {
        padding: 1.5rem 3rem;
        font-size: 1.5rem;
      }
    }
  }
  .info {
    .info-card {
      width: 90%;
    }
  }

  .faq {
    .faq-item {
      width: 92%;
      details[open] > summary {
        transition: none !important;
        line-height: 2.5rem !important;
        font-size: 2rem !important;
      }
      details:not([open]) > * {
        font-size: 2rem !important;
        max-height: 6rem !important;
        transition: none !important;
      }
      details summary:hover {
        transition: none !important;
        font-size: 2rem !important;
      }
    }
  }

  .partners {
    height: 30vh;
    article {
      .kinetic-logo-container {
        width: 95%;
      }
    }
  }
}
@media only screen and (max-width: 650px) {
  header {
    background: linear-gradient(
      --dg-1250,
      rgb(166, 28, 235) 0%,
      rgb(119, 71, 241) 11%,
      rgb(105, 21, 222) 20%,
      rgb(28, 143, 214) 35%,
      rgba(28, 172, 214, 1) 60%
    ) !important;
    .header-content {
      h1 {
        font-size: 5rem;
        line-height: 5.5rem;
      }
      p {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
      }
      a {
        padding: 1.5rem 3rem;
        font-size: 1.5rem;
      }
    }
  }
  footer {
    height: 350px;
    justify-content: center;
    align-items: flex-end;
    p {
      line-height: 2rem;
      font-size: 1rem;
    }
  }
}
@media only screen and (max-width: 500px) {
  header {
    .header-content {
      h1 {
        font-size: 4rem;
        line-height: 4.5rem;
      }
      p {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
      }
      a {
        padding: 1.5rem 3rem;
        font-size: 1.5rem;
      }
    }
  }
  .faq {
    min-height: 125vh !important;
    height: fit-content !important;
    overflow: hidden;
    .faq-item {
      width: 80%;
    }
  }

  footer {
    height: 600px;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    text-align: center;

    p {
      line-height: 2rem;
      font-size: 1rem;
    }
    li {
      font-size: 0.9rem;
    }
  }
}
@media only screen and (max-width: 400px) {
  header {
    .header-links {
      flex-flow: column nowrap;
      align-items: center;
      gap: 1rem;
    }
    .header-content {
      h1 {
        font-size: 3rem;
        line-height: 3.5rem;
      }
    }
  }
}
@media only screen and (max-height: 680px) {
  header {
    margin-top: 0;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111;
    --text-color: #f5f5f5;
    --button-color: #007bff;
    --button-bg-color: rgba(57, 9, 77, 0.9);
    --button-bg-hover-color: rgba(104, 20, 139, 0.9);
    --button-txt-hover-color: #fff;
  }
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  .temp {
    display: block;
    max-height: 50px;
    text-align: center;
  }
  .button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
  }
  .button:hover {
    background-color: var(--button-bg-hover-color);
    color: var(--button-text-hover-color);
  }
  .invert {
    filter: invert(1);
  }
  nav {
    background: linear-gradient(
      197deg,
      rgba(57, 9, 77, 0.0) 11%,
      rgba(37, 22, 72, 0.0) 30%,
      rgba(34, 8, 72, 0.0) 54%,
      rgba(9, 51, 71, 0.0) 78%,
      rgba(9, 59, 67, 0.0) 86%
    );
    animation: dark-scroll linear both;
    animation-range: 100vh 130vh;
    animation-timeline: scroll();
  }
  .nav-logo {
    color: var(--text-color);
  }
  header {
    background: linear-gradient(
      210deg,
      rgb(57, 9, 77) 0%,
      rgb(37, 22, 72) 11%,
      rgb(34, 8, 72) 20%,
      rgb(9, 51, 71) 35%,
      rgb(9, 59, 67) 60%
    );
  }
  .header-content {
    color: var(--text-color);
  }
  .info {
    color: var(--text-color);
  }
  .news {
    color: var(--text-color);
  }
  .faq {
    color: var(--text-color);
  }
  .partners {
    color: var(--text-color);
  }
  footer {
    background-image: url("../img/footer-bg-dark.svg");
  }
}
@keyframes dark-scroll {
  to {
    background: linear-gradient(
      197deg,
      rgba(57, 9, 77, 0.5) 11%,
      rgba(37, 22, 72, 0.5) 30%,
      rgba(34, 8, 72, 0.5) 54%,
      rgba(9, 51, 71, 0.5) 78%,
      rgba(9, 59, 67, 0.5) 86%
    );
  }
}
@keyframes scroll {
  to {
    background: linear-gradient(
      197deg,
      rgba(137, 49, 204, 0.5) 10%,
      rgba(139, 28, 214, 0.5) 30%,
      rgba(28, 172, 214, 0.5) 80%
    );
  }
}
