


<section class="flex justify-center items-center xl:gap-32 md:gap-16 flex-col-reverse xl:flex-row md:h-[100vh] my-28 sm:mx-0 px-12">
    <article class="flex flex-col gap-6">
        <div class="n-bold lg:text-5xl text-4xl"><h1>Download</h1></div>
        <div class="n-medium lg:text-3xl text-2xl mb-6"><p>The preferred server software for most people. </p></div>
        <a href="https://discord.com/invite/zhqAz5BcJe">
            <div class="n-medium lg:text-2xl text-xl download-btn-1 lg:w-[140px] rounded-xl flex justify-center items-center text-center h-[50px]">Download</div>
        </a>
    </article>
    <article class="">
        <div class="">
            <div class="rounded-xl sm:w-[500px] sm:h-[auto] w-[100px]"> <div class="radial-gradient-accent">.</div> </div>
        </div>
    </article>
</section>

<style>
    section {
        width: 100%;
    }
    .download-btn-1 {
        background: var(--color-gradient-accent); 
    }
    
    .radial-gradient-accent {
        width: 100px;
        height: 100px;
        background: radial-gradient(circle, var(--color-gradient-accent) 0%, transparent 100%);
    }

    @media (max-width: 768px) {
        .d-hidden {
            display: none;
        }
    }

</style>
