---
import Question from './faq/question.astro'
import Warning from './lines/warning.astro'
---

<section class="">
    <h3 class="text-6xl text-center n-bold mb-10"> FAQ </h3>



    <Question question="What is Magma Maintained?" 
    answer1="Magma Maintained is a Minecraft hybrid server fork of Magma. It is maintained by the community (mainly TonimatasDEV) and is not affiliated with Magma Foundation. "
     />
     <Question question="Why does Magma Maintained exist?" 
    answer1="The project came from the need to have a maintained version of Magma, since the original project was abandoned. The main goal of Magma Maintained is to provide a stable and updated version of Magma, in latest versions and bug fixes."
     />
     <Question question="Why did Magma get abandoned?" 
    answer1="Most of the developers of Magma left the project, and the it was abandoned. This is because they started being passionate about developing Magma, but then they lost interest in the project. The developers who still wanted to work on hybrid servers developed Ketting."
     />
     <Warning msg="FAQ Buttons doesn't work yet"/>

</section>