---
import HeaderBg from "./header/header-bg.astro";
---

<header class="b-bold antialiased">
    <HeaderBg />
    <div class="flex flex-col items-center justify-center h-[100vh] md:gap-16 sm:gap-12 gap-6">
        <h1 class="text-6xl sm:text-8xl md:text-9xl b-bold text-center -mt-32 tracking-tighter">Magma <br>Maintained</h1>

        <div class="flex flex-col lg:flex-row w-min justify-center lg:gap-24 gap-10 n-bold md:text-5xl sm:text-3xl text-2xl text-center">
            <a href="https://discord.com/invite/zhqAz5BcJe">
                <div class="download-btn-1 md:w-[310px] md:h-[80px] w-[200px] h-[55px] rounded-2xl flex items-center justify-center tracking-tighter">Download</div>
            </a>
            <a href="https://discord.com/invite/zhqAz5BcJe">
                <div class="support-btn-1 md:w-[310px] md:h-[80px] h-[55px] w-[200px] rounded-2xl flex items-center justify-center tracking-tighter">
                    Discord
                </div>
            </a>
        </div>
    </div>
</header>

<style>
    header {
        min-height: 100vh;
    }
    
    .download-btn-1 {
        background: var(--color-gradient-accent); 
    }

    .support-btn-1 {
        border: 2px solid var(--color-border-accent);
        color: var(--color-border-accent);
        
    }
</style>