<section class="n-medium text-center flex justify-evenly w-full flex-wrap">
    <article class="md:w-1/4 md:my-28 mb-6 mt-24 border-y-2 border-white py-6 md:py-10"> 
        <h3 class="n-bold text-4xl "> About </h3> 
        <p class="text-2xl"> Magma Maintained is a fork of the popular <a href="https://magmafoundation.org"><span class="text-blue-500 ">Magma</span></a> project. We aim to provide a more stable version of Magma.</p>
    </article>
    <article class="md:w-1/4 md:my-28 my-6 border-y-2 border-white py-6 md:py-10">
        <h3 class="n-bold text-4xl"> Installation </h3> 
        <p class="text-2xl"> Download the latest version on the discord server. Here we provide support for this software.</p>
    </article>
    <article class="md:w-1/4 md:my-28 mt-6 mb-24 border-y-2 border-white py-6 md:py-10">
        <h3 class="n-bold  text-4xl"> License </h3> 
        <p class="text-2xl">Licensed under the GNU License. This means everyone can use, share and modify Magma Maintained.</p>
    </article>
</section>

