<section class="row g-0 d-flex justify-content-center my-5">
    <div id="faq" class="container mt-5">
        <div class="container">
          <h2 class="d-flex container-fluid justify-content-center text-center">FAQ</h2>
          <section class="row">
            <article class="accordion" id="accordionExample">
              <div class="accordion-item bg-dark">
                <h2 class="accordion-header bg-dark">
                  <button
                    class="accordion-button bg-dark"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    What's Magma Maintained?
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    Magma Maintained is a Minecraft Hybrid Loader fork of <a href="https://magmafoundation.org">Magma</a>. It is maintained by the community (mainly <a href="">TonimatasDEV</a>) and is not affiliated with Magma Foundation. The project came from the need to have a maintained version of Magma, since the original project was abandoned. The main goal of Magma Maintained is to provide a stable and updated version of Magma, in latest versions and bug fixes.
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-dark">
                <h2 class="accordion-header bg-dark">
                  <button
                    class="accordion-button collapsed bg-dark"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Why should I update to Magma Maintained?
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body bg-dark">
                    The Magma Foundation developers have retired and Magma Maintained will continue the development of Magma. This means they won't fix bugs or add new features anymore. Support here will be faster than ever and bugs will be fixed.
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-dark">
                <h2 class="accordion-header bg-dark">
                  <button
                    class="accordion-button collapsed bg-dark"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    What other hybrids are existing right now?
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body bg-dark">
                    Ketting, Mohist, Arclight and Crucible are other hybrids available. If you want to play on 1.20.1 we are proud to recommend you to use Ketting. Ketting is another Hybrid Loader and it comes from some old Magma developers. It's a good alternative to Magma Maintained.
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-dark">
                <h2 class="accordion-header bg-dark">
                  <button
                    class="accordion-button collapsed bg-dark"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    What do I do if I find a bug?
                  </button>
                </h2>
                <div
                  id="collapseFour"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>You can report bugs on the GitHub page or on the Discord server. On Discord you can ask for help to the community and to the developers. Look at the rules before asking for support.</p>
                    <p>On Github you can open a new issue to make sure the issue will be fixed or at least seen by the developers.</p>
                  </div>
                </div>
              </div>
            </article>
          </section>
        </div>
    </div>
</section>

<style>
    section {
        height: fit-content;
    }
    a {
        color: white;
    }
    a:hover {
        color: white;
    }
    a:active {
        color: white;
    }
    button {
        color: white;
        text-decoration: none;
    }
    button:hover {
        color: white;
    }
    button:active {
        color: white;
    }
    h2 {
        font-weight: 700;
    }
</style>