
<header class="d-flex justify-content-center align-items-center flex-column">
    <div class="container-fluid">
        <div class="my-5 d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-6 border-sides py-5 ">
                            
                            <h1 class="header1">Magma Maintained</h1>
                            <p class="p1">Download or ask for support </p>
                            
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-center align-content-center"><a href="https://discord.gg/zhqAz5BcJe" class="btn btn-primary btn-xl p-2 " target="_blank">Here</a></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-end w-100 g-0">
        <p class="text-center mt-5"> © 2024 Magma Maintained </p>
    </div>
</header>

<style>
.header1 {
    font-weight: 800;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
    text-align: center;
}

.p1 {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    text-align: center;
}

a {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
}

header {
    height: 100vh;
    background-image: url('img/puntos.png');
    z-index: -2;
}

.border-sides {
    border-right: 6px solid #1884ff;
    border-left: 6px solid #1884ff;
    border-radius: 20px;
}



</style>