---
import Card from './Card.astro'

---
<section class="container-fluid">
    <article class="px-2 pt-5">
        <div class="row d-flex justify-content-center gap-2 g-0">
            <Card title='About' body='Magma Maintained is a fork of the popular Magma project. We aim to provide a more stable and secure version of Magma.' href='https://magmafoundation.org'/>
            <Card title='Installation' body='Download the latest version on the discord server. Here we provide support for this software and it is one of the fastest ever on the hybrid servers.' href='https://discord.gg/WKkke2F6pU'/>
            <Card title='License' body='Licensed under the GNU License. This means everyone can use, share and modify Magma Maintained. ' href='https://www.gnu.org/licenses/gpl-3.0.html'/>
        </div>
    </article>
</section>

<style>
    article {
        height: fit-content;
    }
    section {
        background: url('img/puntos.png');
        height: 45vh;
    }

    @media (max-width: 768px) {
        section {
            height: fit-content;
        }
    }
    
</style>