---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- SEO -->
		<!-- ---------------------------------------------------------------------- -->
		<meta name="description" content="Magma Maintained is a fork of the Magma hybrid server for Minecraft. It allows you to play with mods and plugins at the same time" />
		<meta name="keywords" content="Magma, magma maintained, minecraft magma, minecraft, mods, plugins, mod, plugin, mc, hybrid server, hybrid loader, spigot, paper, forge, neoforge, neoforged, fabric, latest, version, modified, server software, server, minecraft server, free, performance, optimization, magma foundation, magmafoundation, magmamaintained, magma block, bloque de magma, servidor, gratis, rendimiento, comunidad, purpur, add-ons, addon, plug in, plug-in, plugins" />
		<meta name="author" content="MiauDona" />
		<meta name="robots" content="index, follow" />
		<meta name="revisit-after" content="1 days" />
		<meta name="language" content="English" />
		<meta name="publisher" content="TonimatasDEV" />

		<!-- Open Graph / Facebook -->
		
		<meta property="og:title" content="Magma maintained">
		<meta property="og:description" content="Play Minecraft with mods and plugins now">
		<meta property="og:url" content="https://magmamaintained.org/">
		<meta property="og:image" content="./favicon.webp">
 		

		<!-- Twitter -->
		<meta property="twitter:title" content="Magma maintained">
		<meta property="twitter:description" content="Play Minecraft with mods and plugins now">
		<meta property="twitter:url" content="https://magmamaintained.org/">
		<meta property="twitter:image" content="./favicon.webp">
		
		<!-- ---------------------------------------------------------------------- -->
		<!-- Mobile -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-title" content="Magma Maintained" />
		<meta name="application-name" content="Magma Maintained" />

		<!-- PWA -->
		<link rel="manifest" href="/manifest.webmanifest" />
		<link rel="apple-touch-icon" href="/favicon.webp" />
		<link rel="apple-touch-icon" sizes="152x152" href="/favicon.webp" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon.webp" />
		
		<meta name="msapplication-TileColor" content="#080712" />
		<meta name="msapplication-TileImage" content="/favicon.webp" />
		<meta name="msapplication-config" content="/browserconfig.xml" />

		<!-- Theme -->
		<meta name="theme-color" content="#080712" />

		<!-- Viewport -->
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.webp" />
		<link rel="stylesheet" href="/styles.css" />

		<title>{title}</title>
	</head>
	<body>
		
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-primary: #080712;
		--color-secondary: #161B33;
		--color-secondary-faq: rgba(22, 27, 51, 0.3);
		--color-secondary-hover: #424c8d;
		--color-border-accent: #7B79F8;
		--color-gradient-accent: linear-gradient(90deg, #7B79F8 0%, #E28EFF 100%);
		--radial-gradient-accent: radial-gradient(50% 50% at 50% 50%, #474595 0%, #e38eff00 100%);
		--color-text: #FFFFFF;
		--opacity-50: 0.5;
		--opacity-30: 0.3;
		--opacity-20: 0.2;
		--opacity-10: 0.1;
		--text-h2: 25px; 
		--text-body: 20px;
		--text-h2-weight: 700;
		--text-body-weight: 400;
		--text-h2-line-height: 1.2;
		--text-body-line-height: 1.5;
	}

	html, body {
		margin: 0;
		padding: 0;
		font-family: 'Poppins', sans-serif;
		background-color: var(--color-primary);
		color: var(--color-text);
		min-height: 100vh;
	}

</style>

