---
interface Props {
	question: string;
    answer1: string;
    answer2?: string;
    answer3?: string;
}

const question = Astro.props.question || "";
const answer1 = Astro.props.answer1 || "";
const answer2 = Astro.props.answer2 || "";
const answer3 = Astro.props.answer3 || "";
---

    <article class="w-9/12 mx-auto my-3 flex flex-col bg-faq rounded-3xl">
        <button class="rounded-2xl py-4 sm:h-16 text-3xl text-center justify-center n-bold ">{ question }</button>
        <div class="px-4 sm:px-20 py-4 2xl:w-[1200px] mx-auto text-2xl text-pretty">
            <p>{ answer1 }</p>
            <p>{ answer2 }</p>
            <p>{ answer3 } </p>
        </div>
    </article>


<style>
    button {
        background-color: var(--color-secondary) ;
    }
    button:hover {
        background-color: var(--color-secondary-hover);
    }
    .bg-faq {
        background-color: var(--color-secondary-faq);
    }
    p {
        margin: .5rem 0;
    }
  
    @media (max-width: 768px) {
        .bg-faq {
            background-color: rgba(0, 0, 0, 0);
        }
    }
</style>